@use "../../../scss/" as *;
.wrapper{
    @include flex(center, flex-start);
    // display:flex;
    flex-direction: column;
    // align-items: center;
}
.container{
    width:1150px;
    display:flex;
    min-height: $min-height;

}
.content{
    flex:1;
    background-color: antiquewhite;
    min-height: $min-height;
}